*:lang(ja),
html:lang(ja)>body {
  font-family: "Zen Maru Gothic", ui-sans-serif, system-ui, -apple-system;
}

*:lang(zh),
*:lang(zh-CN),
html:lang(zh)>body {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: unset;
  background: linear-gradient(135deg, #e0f3f8 30%, #ede3f4 50%, #f6e4e9 70%) no-repeat center center fixed;
}

a {
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0, 0, 1, 1) !important;
}

// PC
@media screen and (min-width: 1020px) {
  .container {
    max-width: 1000px;
    display: flex;
    margin: auto;
    padding-top: 10px;
  }

  .col-left {
    position: sticky;
    width: 375px;
    height: 100%;
    top: 0;
  }

  .col-right {
    width: 615px;
    padding-left: 10px;
  }

  .card-image {
    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 15px;
      margin-right: 30px;

      .icon-magnifier {
        font-size: 13px;
      }

      .title {
        font-size: 26px;
        margin: 0;
      }
    }
  }

  .copyright-pc {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    color: #878787;
    font-size: 13px;
  }

  .copyright-mobile {
    display: none;
  }
}

// Mobile
@media screen and (max-width: 1020px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0;
  }

  .col-left {
    width: 100%;
  }

  .col-right {
    width: 100%;
  }

  .card,
  .nav-menu {
    border: 0.5px solid rgba(220, 221, 227, 0.55) !important;
    background: rgba(255, 255, 255, 0.55) !important;
  }

  .card-title {
    .name {
      font-size: 36px !important;
    }
  }

  .card-image {
    .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 20px;
      margin-bottom: 10px;

      .icon-magnifier {
        font-size: 14px;
      }

      .title {
        font-size: 22px;
        margin: 0;
      }
    }
  }

  .copyright-mobile {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #878787;
    font-size: 13px;
    text-align: center;
  }

  .copyright-pc {
    display: none;
  }

  .side-character {
    width: 220px !important;

    img {
      width: 220px !important;
    }
  }
}

.col-right {
  .footer {
    margin-bottom: 15px;
    text-align: center;
    color: #636363;
    font-size: 13px;
  }
}

.card {
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 0.5px solid rgba(220, 221, 227, 0.35);
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
}

.card-title {
  text-align: center;

  ruby {
    &:first-child {
      margin-right: 7px;
    }
  }

  rt {
    padding-left: 6.5px;
    padding-right: 6.5px;
  }

  .name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 6px;
    background: linear-gradient(45deg, #94dbf0 40%, #e7c3ff 50%, #fbb3c5 58%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.1;

    .name-element {
      display: flex;
      flex-direction: column;

      .name-pron {
        font-size: 13px;
        line-height: 1;
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: 500;
  }
}

.nav-menu {
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 0.5px solid rgba(220, 221, 227, 0.35);
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);

  .arco-menu-overflow-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arco-menu-inner {
    justify-content: center;
  }

  .arco-menu-item {
    background: transparent;
    font-weight: 500;
    margin: 0 !important;
    transition: all 0.2s cubic-bezier(0, 0, 1, 1) !important;

    &:hover {
      background-color: rgba(255, 232, 235, 0.3);
    }
  }

  .arco-btn-text {
    background: transparent;
    color: #4e5969;
    font-weight: 500;
    transition: all 0.2s cubic-bezier(0, 0, 1, 1) !important;

    &:hover {
      background-color: rgba(255, 232, 235, 0.3);
      color: #4e5969;
      font-weight: 500;
    }
  }
}

.nav-menu .arco-btn-disabled,
.nav-menu .arco-btn-disabled:hover {
  background: transparent;
  color: #c9cdd4 !important;
}

.card-setting {
  font-size: 16px;
  text-align: left;
  padding: 5px 10px;

  table {
    width: 100%;
    line-height: 23px;

    th {
      font-weight: 700;
      width: 70px;
    }

    td {
      font-weight: 500;
    }
  }
}

.color-box {
  display: flex;
  height: 23px;
  align-items: center;
  font-family: monospace;
  font-size: 15px;

  div {
    height: 16px;
    width: 16px;
    border: 0.5px solid #878787;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

.icon-help {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  outline: none;
}

.card-image {
  width: 100%;
  cursor: pointer;

  .arco-card-body {
    padding: 5px;
  }

  img {
    width: 100%;
  }

  .description {
    .icon-magnifier {
      display: flex;
      align-items: center;
      font-weight: 500;
      color: #757986;

      svg {
        width: 15px;
        height: 15px;
        margin-right: 1px;
      }
    }
  }
}

.side-character {
  width: 240px;
  display: block;
  user-select: none;
  margin-bottom: -150px;
  margin-left: 20px;
  bottom: 0;
  position: fixed;
  z-index: -2;

  img {
    width: 240px;
  }
}